.logo{
width:91.8%;
height:91.8%;
margin:1px auto;
display:block;
margin-top:.7%;
margin-bottom:-.5%;
}
.logo-background{
background-color:black;
}
 #stage {
   width:91.7%;
height:91.7%;
margin:1px auto;
display:block;
   margin-top:0%;
  }

  #stage a {
    position: absolute;
  }
  #stage a img {
    padding: 0px;
    border: 0px solid #ccc;
    background: #fff;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }


.navbar {
  overflow: hidden;
  background-color: #616161;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:black ;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:#616161;
  width: 100%;
  z-index: 1;
  font-size:9px;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: black;
  color: white;
}

.subnav:hover .subnav-content {
  display: block;
}

.go-raiders{
color: black;
font-size: 28px;
background-color: red;
text-align: center;
padding: 1px 15px;
margin-left:5%;
margin-right:5%;
}

.positive{
margin-top:35%;
color: red;
font-size: 28px;
background-color: black;
text-align: center;
padding: 1px 15px;
}